<a href="https://colab.research.google.com/github/Rithika-Shankar/NLP-News-Headlines/blob/main/NLP_news_headlines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy
import pandas as pd

In [2]:
nlp = spacy.load("en_core_web_sm")

In [4]:
df = pd.read_csv("bbc_headlines.csv")

In [5]:
print("Sample Headlines Data:")
print(df.head())

Sample Headlines Data:
                                      News Headlines
0  Growing fear in Beirut after Israel strikes ci...
1  Japanese atomic bomb survivors win Nobel Peace...
2  Drone footage shows Hurricane Milton damage in...
3  One dead and 23 rescued after lift malfunction...
4    Australian woman's arm bitten off in dog attack

In [6]:
headline_entities = []

In [7]:
for headline in df["News Headlines"]:
    doc = nlp(headline)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    headline_entities.append({
        "Headline": headline,
        "Entities": entities
    })

In [8]:
entities_df = pd.DataFrame(headline_entities)

In [9]:
print("Extracted Entities DataFrame:")
print(entities_df.head())

Extracted Entities DataFrame:
                                            Headline  \
0  Growing fear in Beirut after Israel strikes ci...
1  Japanese atomic bomb survivors win Nobel Peace...
2  Drone footage shows Hurricane Milton damage in...
3  One dead and 23 rescued after lift malfunction...
4    Australian woman's arm bitten off in dog attack

                                            Entities
0     [(Beirut, GPE), (Israel, GPE), (22, CARDINAL)]
1  [(Japanese, NORP), (Nobel Peace Prize, WORK_OF...
2       [(Hurricane Milton, PERSON), (Florida, GPE)]
3  [(One, CARDINAL), (23, CARDINAL), (Colorado, G...
4                               [(Australian, NORP)]

In [10]:
entities_df.to_csv("headline_entities.csv", index=False)
print("Entities extracted and saved to 'headline_entities.csv'")

Entities extracted and saved to 'headline_entities.csv'